<div class="jumbotron">
    <h1>ATHOS – DESÁFIO TÉCNICO</h1>
    <p class="lead">
        Neste desafio, veremos como você organiza seu código, seu conhecimento sobre padrões de projeto, persistência de dados, teste de unidade, TDD, etc.
        Você precisará criar uma aplicação simples para fornecer um comunicado de um morador para um síndico e uma administradora. Em outras palavras, você vai recriar uma pequena parte da Athos 😎
    </p>
    <p><a href="https://www.athos.com.br/" class="btn btn-primary btn-lg">Veja mais sobre nós &raquo;</a></p>
</div>
