USE [master]
GO
/****** Object:  Database [DB_WebApi]    Script Date: 13/09/2019 19:41:54 ******/
CREATE DATABASE [DB_WebApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_WebApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_WebApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_WebApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_WebApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_WebApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_WebApi]
GO
USE [DB_WebApi]
GO
/****** Object:  Table [dbo].[Administradora]    Script Date: 13/09/2019 19:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeAdministradora] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assunto]    Script Date: 13/09/2019 19:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assunto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoAssunto] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comunicado]    Script Date: 13/09/2019 19:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comunicado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeUsuario] [varchar](50) NULL,
	[TipoAssunto] [varchar](50) NULL,
	[Destinatario] [varchar](50) NULL,
	[TextoComunicado] [varchar](250) NULL,
	[DataHoraEnvio] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condominio]    Script Date: 13/09/2019 19:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condominio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeCondominio] [varchar](50) NULL,
	[Administradora] [varchar](50) NULL,
	[Responsavel] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 13/09/2019 19:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Condominio] [varchar](50) NULL,
	[TipoUsuario] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
